<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col">
    <div class="col-sm-4">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="col-sm-4">
      <%= form.label :age %>
      <%= form.number_field :age %>
    </div>

    <div class="col-sm-4">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

    <div class="col-sm-4">
      <%= form.label :mobileNo %>
      <%= form.number_field :mobileNo %>
    </div>

    <div class="col-sm-4">
      <%= form.label :referred_by %>
      <%= form.text_field :referred_by %>
    </div>

    <div class="col-sm-4">
      <%= form.label :symptoms %>
      <%= form.text_area :symptoms %>
    </div>
  </div>

  <div class="col-sm-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
