<p id="notice"><%= notice %></p>

<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="2"><center>Patient Details</center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= @patient.name %></td>
      </tr>
      <tr>
        <td><strong>Age:</strong></td>
        <td><%= @patient.age %></td>
      </tr>

      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @patient.email %></td>
      </tr>

      <tr>
        <td><strong>Mobileno:</strong></td>
        <td><%= @patient.mobileNo %></td>
      </tr>

      <tr>
        <td><strong>Referred by:</strong></td>
        <td><%= @patient.referred_by %></td>
      </tr>

      <tr>
        <td><strong>Symptoms:</strong></td>
        <td><%= @patient.symptoms %></td>
      </tr>
    </tbody>
  </table>
</div>

<%# @patient.appointments.each do |pat| %>
  <!-- <p> -->
    <!-- <strong>Appointment date:</strong> -->
    <!-- <td><%#= pat.appointment_date %></td> -->
  <!-- </p> -->
<%# end %>
<div class="actions">
  <%= link_to 'My Appointment', my_appointment_patient_path(@patient), class: "btn btn-info" %>
</div>

<div class="mb-4 mt-2"> 
  <%= link_to 'Edit', edit_patient_path(@patient), class: "btn btn-secondary btn-sm" %> |
  <%= link_to 'Back', patients_path, class: "btn btn-info btn-sm" %>
</div>
