<p id="notice"><%= notice %></p>
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="2"><center>Doctors Details</center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Name:</strong></td>
        <td><%= @doctor.name %></td>
      </tr>
      <tr>
        <td><strong>Age:</strong></td>
        <td><%= @doctor.age %></td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @doctor.email %></td>
      </tr>
      <tr>
        <td><strong>Specialization:</strong></td>
        <td><%= @doctor.specialization.try(:name) %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="actions">
  <%= link_to 'Appointment', appointment_details_doctor_path(@doctor), class: "btn btn-primary" %>
</div>

<div class="mb-4 mt-2"> 
  <%= link_to 'Edit', edit_doctor_path(@doctor), class: "btn btn-secondary btn-sm" %> |
  <%= link_to 'Back', doctors_path, class: "btn btn-info btn-sm" %>
</div>


